RewriteEngine On
RewriteRule ^(logout)$ ?logout=1 [NC,L,QSA]
RewriteRule ^(cart)\/([a-zA-Z0-9-_]+)$ index.php?page=$1 [NC,L,QSA]
RewriteRule ^([a-zA-Z0-9-_]+)$ index.php?page=$1 [NC,L,QSA]
RewriteRule ^([a-zA-Z0-9\-\_]+)\/show\/([0-9]+)$ index.php?page=$1&show=$2 [NC,L,QSA]
