.card {
    margin-top: 50px;
    background-color: black;
    color: white;
}

.card-header {
    background-color: #2db94d;
    font-size: 25px;
}

.cart-buttons {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
}

.selection-buttons {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
}

.cart_inputs{
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 15px;
    width: 35%;
}

.card-radio-buttons{
    margin-left: 15%;
    text-align: left;
}

.card-booking{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#booking-button {
    margin-top: 15px;
    height: 77px;
    width: 220px;
    font-size: 25px;
    font-weight: bold;
}

th {
    background-color: black;
    color: white;
}

form {
    margin-bottom: -3px;
}

