.parent{
    width: min-content;
}
img{
    max-width: 100%;
    height: auto;

}

.title{
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: silver;
    background-color:rgba(0, 0, 0, 0.4);
    width: inherit;
    height: 50px ;
    font-size: 30px;

}
.arrow{
    font-weight: bolder;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.4);
    border: none;
    height: 563.94px;
}
.right{
    right: -42px;
}
.left{
    left: -42px;
}
.arr{
    border: solid silver;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
}
.rig{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.lef{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.col-4{
    padding-right: unset;
    padding-left: unset;
    transform: scale(1);
    transition: transform .5s;
}
.photo{}
.col-4:hover{
    transform: scale(1.2);
}