.billboard{
    position: relative;
    display: flex;
    background: #CCC;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}
.main_poster{
    position: sticky;
    height: 800px;
    left: auto;
}
.title{
    text-align: center;
    position: sticky;
    font-weight: bold;
    font-size: 30px;
}
.billboard_text{
    flex: 1;
    max-height: 800px;
    margin: 10px;
}

.buttons{
    display: flex;
    bottom: 0;
}
.table{
    width: 80%;
}
caption{
    caption-side: top;
}
.buy_ticket_button{
    width: 20%;
}
.parent{
    width: min-content;
}
img{
    max-width: 100%;
    height: auto;
}
.arrow{
    font-weight: bolder;
    position: fixed;
    /*background: transparent;*/
    background-color:rgba(0, 0, 0, 0.2);
    border: none;
    margin-top: 20% ;
    height: 45px;

}
.right{
    right: 30px;
}
.left{
    left: 30px;
}
.arr{
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
}
.rig{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.lef{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}