<head>
    <link rel="stylesheet" href="/stylesheets/cart_style.css">
</head>

<center>
    <div class="container mb-5">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <b>REZERWACJA BILETÓW</b>
                </div>
                <div class="card-body">
                        Ponieważ jesteś niezalogowany, musisz wybrać poniżej, w jaki sposób chcesz wykonać swoją rezerwację.
                        <br>
                        <a href="/cart/delivery-and-payment" class="btn btn-success mx-2 btn-lg active" role="button" style="width: 80%;">BEZ LOGOWANIA</a>
                        <br>
                        <a href="/login" class="btn btn-success mx-2 btn-lg active" role="button" style="width: 80%;">ZALOGUJ SIĘ</a>
                        <br>
                        <a href="/registration" class="btn btn-success mx-2 btn-lg active" role="button" style="width: 80%;">ZAREJESTRUJ SIĘ</a>
                </div>
            </div>
        </div>
    </div>
</center>
