<head>
    <link rel="stylesheet" href="/stylesheets/cart_style.css">
</head>

<center>
    <div class="container mb-5">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <b>KOSZYK</b>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Lp.</th>
                                <th scope="col">TYTUŁ</th>
                                <th scope="col">DATA</th>
                                <th scope="col">GODZINA</th>
                                <th scope="col">ILOŚĆ</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <a href="/movies" class="selection-buttons btn btn-success mx-2 btn-lg active" role="button" style="width: 40%;">POWRÓT</a>
                    <a href="{{ next_step_cart_link }}" class="selection-buttons btn btn-success mx-2 btn-lg active" role="button" style="width: 40%;">DALEJ</a>
                </div>
            </div>
        </div>
    </div>
</center>
