<head>
    <link rel="stylesheet" href="/stylesheets/contact_style.css">
    <title>KINOS</title>
</head>

<div class="container mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <span class="col-6" style="color: white;">
                    <span class="card-title" style="font-size: xx-large;">NAPISZ DO NAS</span>
                    <br><br>
                    <form>
                        <div class="form-group">
                            <label for="emailForm">Adres e-mail</label>
                            <input type="email" class="form-control" id="emailForm" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Powyższy e-mail nigdzie nie będzie udostępniany.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Wiadomość:</label>
                            <textarea class="form-control" id="message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Wyślij</button>
                    </form>
                </span>
                <span class="col-6" style="color: white;">
                    <span class="card-title  text-md-center" style="font-size: xx-large;">KONTAKT</span>
                    <br><br><br>
                    <b>KINOS</b>
                    <br>
                    Aleja Adama Mickiewicza 30
                    <br>
                    30-059 Kraków
                    <br>
                    Telefon: +48 123 456 789
                    <br>
                    NIP: PL1234567890
                    <br>
                    Regon: 123456789
                </span>
            </div>
        </div>
    </div>
</div>
