<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets\halls_style.css">

</head>

<body>
<div class="halls_div">
    <table id="table">
        <caption><div class="trapez">Ekran</div></caption>
        {% for i in 1..rows %}
            <tr><td>rząd {{ i }}.</td>
                {% for j in 1..places %}
                    <td><form name="places" >
                            <input id="place" type="submit"  value="{{j }}" />
                        </form></td>
                {% endfor %}</tr>
        {% endfor %}

    </table>
</div>
</body>

</html>