<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main_style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <button class="arrow left">
                    <i class="arr lef"></i>
                </button>
                <img id="img 1" src="{{ poster_path[0] }}">
            </div>
            <div class="col-4">
                <img id="img 2" src="{{ poster_path[1] }}">
            </div>
            <div class="col-4">
                <button class="arrow right">
                    <i class="arr rig"></i>
                </button>
                <img id="img 3" src="{{ poster_path[2] }}">
            </div>

        </div>
    </div>
</div>


</div>
<script>
    // var x =document.getElementsByClassName("arrow").style.height;
    //     x=document.getElementsByClassName("col-4").style.height;
    var rightarrow = document.getElementsByClassName("arrow right");
    var leftarrow = document.getElementsByClassName("arrow left");

    function changeimg(x) {
        if (x == "<") {
            {% set temp = poster_path[8] %}
            {% for i in 1..8 %}
            {% set poster_path = poster_path|merge({(element): 'value'})
                poster_path[i]=poster_path[i-1] %}
            {% endfor %}
            {% poster_path[0]=temp %}
        } else {
            {% set temp = poster_path[0] %}
            {% for i in 0..7 %}
            {% poster_path[i]=poster_path[i+1] %}
            {% endfor %}
            {% poster_path[8]=temp %}
        }
    }

    rightarrow.addEventListener("click", changeimg(">"));
    leftarrow.addEventListener("click", changeimg("<"));

</script>
</body>