<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets\main_style.css">
</head>

<body>
<section class="billboard">

    <img src="/resources/poster.jpg" class="main_poster">
    <div class="billboard_text">
        <p class="title">Tytuł</p>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisl, aliquam a augue non, mattis luctus nunc. Nulla at egestas odio, ac efficitur quam. Pellentesque lacinia odio quis orci aliquam malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin arcu est, tincidunt in velit id, efficitur hendrerit urna. Nunc in justo a nisi mollis scelerisque non vel magna. Pellentesque vel mauris congue, rhoncus purus feugiat, eleifend massa. Sed quis dui ut tellus fringilla venenatis quis sed magna. Vestibulum at tortor sed dolor tincidunt tincidunt. Integer ullamcorper, arcu non auctor tristique, risus nisl vehicula dui, aliquet sagittis tellus neque sed orci. Praesent id pellentesque lacus.

            Ut a nisl tincidunt, porttitor orci in, feugiat mi. Phasellus pharetra ac neque quis pulvinar. Etiam blandit dignissim nibh ut hendrerit. Curabitur sed nisl mauris. Phasellus eget nulla vestibulum, consequat lorem eu, semper urna. Suspendisse mauris felis, lacinia sit amet venenatis eleifend, ornare vel est. Vivamus ornare enim in diam facilisis elementum.

            Vivamus ante lacus, rhoncus non elit non, venenatis aliquam neque. Sed at justo commodo, laoreet urna sed, luctus nisl. Ut at magna varius, mattis metus eu, tristique risus. Phasellus placerat dui ut molestie lobortis. Nulla cursus eget ligula eget tincidunt. Fusce mattis turpis eros, non maximus eros pellentesque id. Maecenas eleifend suscipit dui ac ullamcorper. Aliquam neque est, lobortis eu enim in, elementum rhoncus est.

            Aliquam sit amet fermentum arcu. In lobortis dolor a felis maximus porta. Maecenas congue convallis porta. Praesent mattis, lacus et vehicula fermentum, turpis mauris posuere quam, et pretium enim velit sed sem. Phasellus leo velit, tincidunt eget varius vitae, elementum ac sapien. Duis eu feugiat nibh. Nullam maximus, mi nec vestibulum lobortis, est eros dignissim ex, in hendrerit eros felis eget lectus. Suspendisse nec turpis libero. Cras purus purus, ultrices a iaculis nec, maximus nec dui. Suspendisse sodales eros eget mi fermentum porttitor.

            Quisque vitae eros nibh. Mauris scelerisque, erat ut dictum rhoncus, lectus sapien tincidunt urna, a varius dui tellus eget libero. Morbi venenatis vulputate tincidunt. Sed sodales nibh hendrerit felis dictum ultricies. Nullam eget urna eros. Quisque fermentum ligula nunc, ut mollis ex pharetra ut. Etiam tincidunt pretium fringilla. Curabitur rutrum sapien ut ligula mattis commodo. Nunc nec tellus lobortis, sodales orci et, pellentesque arcu. Quisque quam urna, dictum interdum pharetra eu, ullamcorper sed mauris. Sed condimentum mollis augue et convallis. Integer blandit porta purus, vel euismod libero volutpat quis. Etiam suscipit magna a nisl pretium varius.</p>
        <div class="buttons">
            <table class="table">
                <caption style="text-align: center">Seanse w najbliższym czasie</caption>
                <tr>
                    <th>dziś</th>
                    <th>jutro</th>
                </tr>
                <tr>
                    <td>12:00,17:00</td>
                    <td>14:00,18:00</td>
                </tr>
            </table>
            <button class="buy_ticket_button">Kup bilety</button>
        </div>
    </div>

</section>
</div>
</body>

</html>