<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>

<div class="container-md">
    <div class="row mt-3">

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Moje konto
                </div>
                <ul class="list-group list-group-flush" id="choose-card">
                    <button class="list-group-item" id = "tickets">Moje bilety</button>
                    <button class="list-group-item" id = "acc_info">Zmień hasło</button>
                    <button class="list-group-item" id = "prvt_info">Zmień dane osobowe</button>
                    <button class="list-group-item" id = "del_acc">Usuń konto</button>
                </ul>
            </div>
        </div>


        {% set chosen_card = 'tickets' %}
        {% if chosen_card == 'tickets' %}
            <div class="col-md-8">
                <div class="card" id="card-content">
                    <div class="card-header">
                        Zmień hasło
                    </div>
                    <div class="card-body">
                        <form action="/change_passwd" method="POST" class="">
                            <input id="chng-pswd-old" type="text" class="old-pass line" placeholder="Stare hasło:">
                            <br>
                            <input id="chng-pswd-new" type="text" class="new-pass line" placeholder="Nowe hasło:">
                            <br>
                            <input id="chng-pswd-rpt" type="text" class="rep-pass line" placeholder="Powtórz nowe hasło:">
                            <br>
                            <input type="submit" class="btn">
                        </form>
                    </div>
                </div>
            </div>

        {% elseif chosen_card == 'acc_info' %}
            <div class="col-8">
                <div class="card" id="card-content">
                    <div class="card-header">
                        Zmień dane konta
                    </div>
                    <div class="card-text my-3 mx-3">
                        gjknljkgchjvbkjcghvjkb
                    </div>
                </div>
            </div>

        {% elseif chosen_card == 'prvt_info' %}
            <div class="col-8">
                <div class="card" id="card-content">
                    <div class="card-header">
                        Zmień dane konta
                    </div>
                    <div class="card-text my-3 mx-3">
                        gjknljkgchjvbkjcghvjkb
                    </div>
                </div>
            </div>
        {% elseif chosen_card == 'del_acc' %}
            <div class="col-8">
                <div class="card" id="card-content">
                    <div class="card-header">
                        Zmień dane konta
                    </div>
                    <div class="card-text my-3 mx-3">
                        gjknljkgchjvbkjcghvjkb
                    </div>
                </div>
            </div>
        {% else %}
            {% set chosen_card = 'tickets' %}
        {% endif %}

    </div>
</div>

<script>
    function choose_card(x){
        {% set chosen_card = x %}
    }

    var panel = document.getElementById("choose-card");
    panel.addEventListener("click", choose_card(panel.id));
</script>

</body>