
<link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<div class="container-md">
    <div class="row mt-3">

        <!--Tab menu-->
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Moje konto
                </div>
                <div class="btn-group-vertical tab" role="group" id="choose-card">
                    <button class="tab-links" onclick="pressTab(event, 'tickets')">Moje bilety</button>
                    <button class="tab-links" onclick="pressTab(event, 'account_info')">Zmień hasło</button>
                    <button class="tab-links" onclick="pressTab(event, 'private_info')">Zmień dane osobowe</button>
                    <button class="tab-links" onclick="pressTab(event, 'delete_account')">Usuń konto</button>
                </div>
            </div>
        </div>

        <!--My tickets tab-->
        <div class="tabcontent col-8" id="tickets">
            <div class="card" id="card-content">
                <div class="card-header">
                    Zmień dane konta
                </div>
                <div class="card-text my-3 mx-3">
                    gjknljkgchjvbkjcghvjkb
                </div>
            </div>
        </div>

        <!--Change password tab-->
        <div class="tabcontent col-8" id="account_info">
            <div class="card" id="card-content">
                <div class="card-header">
                    Zmień hasło
                </div>
                <div class="card-body">
                    <form action="/change_passwd" method="POST" class="">
                        <input id="chng-pswd-old" type="text" class="old-pass line" placeholder="Stare hasło:">
                        <br>
                        <input id="chng-pswd-new" type="text" class="new-pass line" placeholder="Nowe hasło:">
                        <br>
                        <input id="chng-pswd-rpt" type="text" class="rep-pass line" placeholder="Powtórz nowe hasło:">
                        <br>
                        <input type="submit" class="btn">
                    </form>
                </div>
            </div>
        </div>

        <!--Update personal data tab-->
        <div class="tabcontent col-8" id="private_info">
            <div class="card" id="card-content">
                <div class="card-header">
                    Zmień dane konta
                </div>
                <div class="card-text my-3 mx-3">
                    gjknljkgchjvbkjcghvjkb
                </div>
            </div>
        </div>

        <!--Delete account tab-->
        <div class="tabcontent col-8" id="delete_account">
            <div class="card" id="card-content">
                <div class="card-header">
                    Zmień dane konta
                </div>
                <div class="card-text my-3 mx-3">
                    gjknljkgchjvbkjcghvjkb
                </div>
            </div>

        </div>

    </div>
</div>

<script>

    document.getElementById("tickets").style.display = "block";

    function pressTab(evt, tab) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tab-links");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>