<head>
    <link rel="stylesheet" href="/stylesheets/login_registration_style.css">
</head>

<center>
    <div class="container mb-5">
        <div class="col-md-8">
            <div> <br> <br> </div>
            <div class="card mb-3">
                <div class="card-header">
                    <b>REJESTRACJA</b>
                </div>
                <div class="card-body">
                    <form action="/registration" method="POST">
                        <div> <br> </div>
                        <input type="text" style="margin-right: 10px;" name="new_name" placeholder="Imię"></input>
                        <input type="text" style="margin-left: 10px;" name="new_surname" placeholder="Nazwisko"></input>
                        <div> <br> </div>
                        <input type="text" style="margin-right: 10px;" name="new_email" placeholder="E-mail"></input>
                        <input type="text" style="margin-left: 10px;" name="new_phonenumber" placeholder="Telefon"></input>
                        <div> <br> </div>
                        <input type="password" style="margin-right: 10px;" name="new_password" placeholder="Hasło"></input>
                        <input type="password" style="margin-left: 10px;" name="new_password_confirm" placeholder="Potwierdź hasło"></input>
                        <div> <br> </div>
                        <div class="g-recaptcha" data-sitekey="6LcrreYUAAAAAGeERM9Etdv8wlh81RCSK0LXuwfX"></div>
                        <div> <br> </div>
                        <input class="btn btn-success mx-2 btn-lg active" type="submit" value="ZAŁÓŻ KONTO"></input>
                        <div> <br> {{ komunikat }} </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>
