<center>
    <div class="container mb-5">
        <div class="col-md-8">
            <div> <br> <br> </div>
            <div class="card mb-3">
                <div class="card-header">
                    ZAREJESTRUJ SIĘ
                </div>
                <div class="card-body">
                    <form action="/registration" method="POST">
                        <div> <br> </div>
                        <input type="text" name="new_name" placeholder="Imię"></input>
                        <input type="text" name="new_surname" placeholder="Nazwisko"></input>
                        <div> <br> </div>
                        <input type="text" name="new_email" placeholder="E-mail"></input>
                        <input type="text" name="new_phonenumber" placeholder="Telefon"></input>
                        <div> <br> </div>
                        <input type="password" name="new_password" placeholder="Hasło"></input>
                        <input type="password" name="new_password_confirm" placeholder="Potwierdź hasło"></input>
                        <div> <br> </div>
                        <div class="g-recaptcha" data-sitekey="6LcrreYUAAAAAGeERM9Etdv8wlh81RCSK0LXuwfX"></div>
                        <div> <br> <br>  </div>
                        <input type="submit" value="Załóż konto"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>